.photo {
	height: 200px;
	object-fit: cover; 
}

@font-face {
    font-family: 'NexaRustScriptL-0-Free';
    src: url('NexaRustScriptL-0-Free-webfont.woff2') format('woff2'),
         url('NexaRustScriptL-0-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h5{
	font-family: 'Times new roman';
	text-align: center;
	font-size: 40px;
}

p{
	font-family: 'NexaRustScriptL-0-Free';
	font-size: 25px;
}

.btn-info{
	font-size: 20px;
}

.modal-body{
	text-align: center;
}

.modal-title {
	font-size: 20px;
}

.subscribe{
	text-align: center;
	background-color: rgb(136,187,187);

}
.click{
	background-color: rgb(255,238,221);
}
.carousel-inner{
	height: 800px;
	width: 1200px;
}
.slide{
	height: 800px;
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.photo1{
	height: 800px;
	width: 1200px;
}




